# ------------------
# Python
**/__pycache__/
*.py[cod]
.pytest_cache/

# ------------------
# Virtual environments
venv/
.venv/

# ------------------
# Logs & generated data
logs/
data/
*.log
*.db
*.sqlite
*.sqlite3

# ------------------
# OS / editor junk
.DS_Store
.vscode/

upload_jsonl.py
